@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgb(73, 83, 83) 0%,
    rgb(40, 40, 45) 50%,
    rgb(31, 35, 36) 100%
  );
  min-height: 100vh;
  color: rgb(139, 230, 197);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  padding: 1rem;
}
h1 {
  text-align: center;
}
main {
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.container {
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  background-color: rgba(238, 238, 249, 0.8);
}
